parameters:
	level: 9
	paths:
		- src
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			message: '#Expression on left side of \?\? is always null.#'
			path: *.php

		-
			message: '#Access to an undefined static property .+::\$.+#'
			path: *.php

		-
			message: '#Access to an uninitialized readonly property .+::\$.+#'
			path: *.php

		-
			message: '#Property .+::\$serviceContainer is never read, only written.#'
			path: *.php

		-
			message: "#Readonly property .+ is assigned outside of the constructor.#"
			path: *.php

		-
			message: "#Class .+ has an uninitialized readonly property .+ Assign it in the constructor.#"
			path: *.php

		-
			message: "#Method .+ should return .+ but returns mixed.#"
			path: *.php

		-
			message: "#Method .+ has parameter .+ with no value type specified in iterable type iterable.#"
			path: *.php

		-
			message: "#PHPDoc tag @phpstan-assert-if-true for .+ has no value type specified .+#"
			path: *.php

		-
			message: "#Cannot cast mixed to .+.#"
			path: *.php
